html,
body,
*{
  box-sizing: border-box;
    font-size: 20px;
    padding: 0;
    margin: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: space-evenly;
}

:root{
  --black: #000;
  --primary:#AFCBFF;
}

#body{
  background-color: var(--primary);
  
}

.header{
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ten{
  padding: 20px;
  align-items: center;
  justify-content: space-evenly;
}
.twenty{
  padding: 20px;
  align-items: center;
  justify-content: space-evenly;
}
.fifty{
  padding: 20px;
  align-items: center;
  justify-content: space-evenly;
}