html,
body,
*{
  box-sizing: border-box;
    font-size: 20px;
    padding: 0;
    margin: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: space-evenly;
}

:root{
  --black: #000;
  --primary:#F2B7C6;
  --shadow:#B8336A;
}

.header{
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#cardsholder{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
  margin:-17rem;
  padding:18rem;
}
.cards{
  width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    margin: 5rem;
    background-color: var(--primary);
    box-shadow: 10px 10px 5px 8px var(--shadow);
    position: relative;
    transition:0.7s;
}

.cards:hover{
  transform: translateY(-8px);
}

.pic{
  width: 175px;
  height: auto;
}

.desc{
  font-size: 20px;
}